@page
@model WebApplication2.Pages.IndexModel
@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>

    </title>
    <link href="~/css/Style.css" rel="stylesheet" />

</head>
<body>
    <h1>
        Welcome to my First Application
    </h1>
</body>
</html>